<!doctype html>
<body>
<h1>Some error occurred. ;-(</h1>
<table>
	<tr>
		<td>Status Code</td>
		<td>{{.statuscode}}</td>
	</tr>
	<tr>
		<td>Error Message</td>
		<td>{{.Message}}</td>
	</tr>
</table>

</body>
